# dependencies
node_modules/

# misc
.DS_Store
*.pem

# env
.env
.env.local
.env.development
.env.production

# cache file

# テスト用ファイル
apps/api/test/websocket-test.html
apps/api/test/websocket-test.ts